body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #111;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


#menu, #gameContainer {
text-align: center;
}


.hidden {
display: none;
}


canvas {
background: #444;
border: 4px solid white;
display: block;
margin: 10px auto;
}


button {
padding: 10px 15px;
margin: 5px;
font-size: 14px;
cursor: pointer;
}


#controls button {
font-size: 18px;
}


.menuButtons {
margin-top: 10px;
}
